
#action method with description as first argument, block as second arg

action "this is an example action" { |a|

  a.name "my second action"
  a.namespace "example"
  a.attributes ["repo", "example_attribute"]
  a.finishes ["success", "failure"]

}